In [ ]:
# Prep checking
import pandas as pd

df_raw = pd.read_csv('data/diabetic_data.csv')
df_prep = pd.read_csv('data/diabetic_data_preprocessed.csv')

race_cols = [col for col in df_prep.columns if col.startswith('race')]
df_prep.loc[df_raw.race == '?', race_cols]

,race_AfricanAmerican,race_Asian,race_Caucasian,race_Hispanic,race_Other
19,0,0,0,0,0
20,0,0,0,0,0
21,0,0,0,0,0
54,0,0,0,0,0
65,0,0,0,0,0
...,...,...,...,...,...
101659,0,0,0,0,0
101671,0,0,0,0,0
101702,0,0,0,0,0
101715,0,0,0,0,0
101732,0,0,0,0,0